@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 600;
}

body {
  background: linear-gradient(to Left, #1d3541, #0c3d5a);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(150px, auto) repeat(6, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid > button:nth-child(21) {
  border-radius: 0 0 0 15px;
}

.calculator-grid > button:nth-child(23) {
  border-radius: 0 0 15px 0;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 15px 15px 0 0;
}

.output .memory-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.8rem;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
